@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box
}

html{
    font-size: 16px;
    font-family: 'Rubik',Arial, Helvetica, sans-serif;
    color:black;
    overflow-x: hidden;

}
section{
    
    padding:30px 0;
    opacity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    width:100%;
    min-height:auto;
    
}
body{
    width:100%;
    height: 100%;
    background-size: cover;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color:#eee;
}

p{
    font-weight: 300;
    line-height:1.5;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
}


.container{
    width:100%;
    height: 100%;
    margin:0 auto;
    position: relative;
    background-image: url("img/pexels-felipe-ribeiro-2271683.jpg");
}

.heading{
    position: relative;
    width:100%;
}

.heading::after{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}


header{
    width:100%;
    height: 100px;
    position: fixed;
    top:0;
    left:0;
    z-index:50;
}


.top-nav{
    width:100%;
    height:100vh;
    position: fixed;
    top:-100vh;
    z-index:50;
    background-color: #696969;
    background-image: linear-gradient(315deg, #696969 0%, #d2ccc4 90%);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.top-nav.open{
    top:0px;
    border-radius: initial;
}


.nav-list{
    list-style: none;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

}

li{
    margin: 20px 20px;
}
.forGradient{
    width:100%;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #202f3a;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

 .nav-link{
    font-size: 32px;
    position: relative;
}
.nav-link::before{
    position: absolute;
    content:"";
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background-color: #ff4e00;
background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    transform:scaleX(0);
    transform-origin: left;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.nav-link:hover::before,.nav-link:focus{
    transform: scaleX(1);
}
 
.logoAndMenu{
    width: 100%;
    height:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 10px;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

}

.logo{
    display: block;
    width:150px;
    height: auto;
    font-size: 3rem;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.menu-toggler{
    width: 60px;
    height: 40px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    cursor: pointer;
    z-index:1500;
    margin-right:20px;
}



.menu-toggler .bar{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    border-radius: 6px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.menu-toggler .bar.top{
    top:0px;
}
.menu-toggler .bar.middle{
    top:18px;
}
.menu-toggler .bar.bottom{
    top:36px;
}

.menu-toggler.open .bar.top{
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .menu-toggler.open .bar.middle{
    opacity: 0;
    right:60px;
  }
  .menu-toggler.open .bar.bottom{
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }


  .menu-toggler.close .bar.top{
    top: 0px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .menu-toggler.close .bar.middle{
    opacity: 1;
    right:-60px;
  }
  .menu-toggler.close .bar.bottom{
    top: 36px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }


.scrolling-active{
    background-color:rgba(0,0,0,0.5);
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
    height: 80px;
    transition: 1s ease-in-out;
}


.hero{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../img/pexels-john-lee-6766628.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.landing-text{
    min-width: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: 1s ease-in-out opac;  
}


@keyframes opac {
    0% {
      opacity:0;
    }
    100% {
        opacity:1;
    }
  }


  .landing-text h1{
    font-size: 28px;
    color:#fafafa;
    animation: 1.5s ease-in-out goUp;
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
  }

  @keyframes goUp {
    0% {
        opacity:0;
      transform:translateY(-100%);
    }
    100% {
        opacity: 1;
        transform:translateY(0);
    }
  }

.landing-text h6{
    font-size: 22px;
    color:#fafafa;
    animation: 1.5s ease-in-out goDown;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}

@keyframes goDown {
    0% {
        opacity:0;
      transform:translateY(100%);
    }
    100% {
        opacity: 1;
        transform:translateY(0);
    }
  }


.about .container{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-direction: column;
   
}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom:28px;
    display: flex;
    align-items: baseline;
    color:black;
}

.about-heading h1{
    font-size: 28px;
    
}
.about-heading h6{
    font-size: 22px;
    font-weight: 300;

}

.about .profile-img{
    display:none;
}
.about .profile-img img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about .about-details{
    display:flex;
    justify-content: center;
    align-items: center;

}
.about .about-details p{
    padding: 0 20px;
}
.scrolled{
    opacity: 1;
}

.parallaxCommon{
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    background-image: url("../img/pexels-mikhail-nilov-6894105.jpg");
  }

.parallax1 {
    background-image: url("../img/pexels-fauxels-3184418.jpg");
  }

.parallax2 {
    background-image: url("../img/pexels-alex-andrews-821754.jpg");
  }


.portfolio{
    width:100%;
    height: auto;
}
.portfolio .container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.portfolio-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom:28px;
    display: flex;
    align-items: baseline;
    color:black;
}
.portfolio-heading h1{
    font-size: 28px;
    
}

.portfolio-heading h6{
    font-size: 22px;
    font-weight: 300;

}

.portfolio .profile-img{
    width:100%;
    height: auto;
    display:grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-rows: auto;
    grid-gap: 16px;
    /* grid-template-areas:"img-1 img-2 img-3 img-4"
                        "img-1 img-6 img-7 img-8"
                        "img-5 img-6 img-9 img-10"
                        ; */
    grid-template-columns: 1fr;
    grid-template-areas:"img-1"
                        "img-2"
                        "img-3"
                        "img-4"
                        "img-5"
                        "img-6"
                        "img-7"
                        "img-8"
                        "img-9"
                        "img-10";
   padding: 0 20px;
   overflow: hidden;

}
.portfolio .profile-img a{
    width:100%;
    height:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.portfolio .profile-img a span{
    color:rgba(255,255,255,.6);
    font-size: 4rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border:2px solid rgba(255,255,255,.6);
    border-radius: .4rem;
    opacity: 0;
    transform: opacity .5s;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.portfolio .profile-img a::before{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transition: opacity .5s;
}

.portfolio .profile-img a:hover span,
.portfolio .profile-img a:hover::before{
    opacity:1;
}


.picGallery{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}
.img-1{
    grid-area: img-1;
    background-image: url("../img/pexels-felipe-ribeiro-2271683.jpg");
    display:block;
}
.img-2{
    grid-area: img-2;
    background-image: url("../img/lance-anderson-QdAAasrZhdk-unsplash.jpg");
    display:block;
}

.img-3{
    grid-area: img-3;
    background-image: url("../img/pexels-john-lee-6766628.jpg");
    display:block;
}

.img-4{
    grid-area: img-4;
    background-image: url("../img/pexels-soulful-pizza-3914752.jpg");
    display:block;
}
.img-5{
    grid-area: img-5;
    background-image: url("../img/pexels-matej-776336.jpg");
    display:block;
}
.img-6{
    grid-area: img-6;
    background-image: url("../img/pexels-felipe-ribeiro-2271683.jpg");
    display:block;
}

.img-7{
    grid-area: img-7;
    background-image: url("../img/pexels-john-lee-6434779.jpg");
    display:block;
}

.img-8{
    grid-area: img-8;
    background-image: url("../img/pexels-felipe-ribeiro-2271683.jpg");
    display:block;
}
.img-9{
    grid-area: img-9;
    background-image: url("../img/pexels-felipe-ribeiro-2271683.jpg");
    display:block;
}

.img-10{
    grid-area: img-10;
    background-image: url("../img/pexels-john-lee-6766628.jpg");
    display:block;
}

.buttonDiv{
    margin: 10px auto;
    width:100%;
    height: auto;
    display: block;
    
}
.showMore{
    border: none;
  outline: 0;
  display: block;
  padding: 10px;
  color: white;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  text-align: center;
  cursor: pointer;
  width: 90%;
  margin:0px auto;
  transition: 2s ease-in-out;
  border-radius: 5px;
}
.profile-img a:nth-child(n+5) {
    display:none;
}
.profile-img a.long{
    text-decoration: none;
    display: flex;
}

.team{
    width: 100%;
    height: auto;
}

.team .team-heading{
    text-transform: uppercase;
    margin-bottom:28px;
    display: flex;
    align-items: baseline;
    color:black;
}
.team .team-heading h1{
    font-size: 28px;
}
.team .team-heading h6{
    font-size: 22px;
    font-weight: 300;
}
.team .container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.team .row{
    padding: 20px 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.team .column {
    flex:1;
    margin:20px 2px;
   
}

.team img {
    width:200px;
    height: auto;
  }


.team .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.team .card-container {
    width:80%;
}

.team .card-container h2{
    font-size: 18px;
}
.team .card-container p{
   text-indent: 0;
   width:100%;
}


.team .title {
  font-size: 16px;
  color: grey;
}

.team .button {
  border: none;
  outline: 0;
  display: block;
  padding: 8px;
  color: white;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  text-align: center;
  cursor: pointer;
  width: 90%;
  margin:10px auto;
  transition: 2s ease-in-out;
  border-radius: 5px;
}

.team .button:hover {
    background-image: linear-gradient(to right, #ff4e00 0%, #ec9f05 74%);
}


.contact{
    width:100%;
}
.contact .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contact .contact-heading{

    text-transform: uppercase;
    margin-bottom:28px;
    display: flex;
    align-items: baseline;
    color:black;
}
.contact .contact-heading h1{
    font-size: 28px;
    opacity: 1;


}
.contact .contact-heading h6{
    font-size:22px;
    font-weight: 300;


}
 .contact .row{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
}

.contact .row .column {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .row .column form{
    width:90%;
    height:auto;
    font-weight: 300;
    margin:50px auto;

}
.contact .row .column form input,select,textarea{
    width:100%;
    height:40px;
    border:2px solid #ec9f05;
    border-radius: 4px;
    background-color: #fafafa;
    outline: none;
    transition: .25s all ease-in;
    font-size: 18px;
    margin-bottom: 10px;
}
.contact .row .column form textarea{
    width:100%;
    height:80px;
}
.contact .row .column form input:focus,
.contact .row .column form  select:focus,
.contact .row .column form  textarea:focus{
    background-color: #202f3a;
    color:#ec9f05;

}
.contact .row .column form label{
    font-size: 22px;
    margin:10px 0 0 0;

}
.contact .row .column form .button{
    width:50%;
    height:50px;
    background-image: linear-gradient(to left, #ff4e00 0%, #ec9f05 74%);
    color:#fafafa;
    font-size: 18px;
    margin:16px auto;
    display:block;
    cursor: pointer;

}
.contact .row .column .contact-details{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    border-bottom: 2px solid #ec9f05;
    margin-bottom: 30px;

}
.contact .row .column .contact-details h3{
    font-size: 22px;
    font-weight: 200;
}
.contact .row .column .contact-details img{
    max-width: 40px;
    margin-right: 10px;
    height:auto;

}

footer{
    width:100%;
    color:#fafafa;
    background-color:rgba(0,0,0,0.7);
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
    height: 80px;
    display:flex;
    align-items:center;
    justify-content: center;

}
.nameAndYear{
    font-size: 24px;
    margin-right: 20px;
}

/* for smart phones rotated */

@media (min-width:567px) {
    .forGradient{
        flex-direction: row;
    }
    .nav-link{
        font-size: 28px;   
    }
    .landing-text h1{
        font-size: 50px;
    }
    .landing-text h6{
        font-size: 34px;
    }
    .about .container{
        display: flex;
        align-items: space-between;
        justify-content: space-between;
        flex-direction: column;
        
    
    }
    .about .about-details{
        display:flex;
        justify-content: center;
        align-items: flex-start;
    }
    .about .profile-img{
        display:block;
    }

    .portfolio .profile-img{
        width:100%;
        height: 100%;
        display:grid;
       
        grid-template-rows: auto;
        
        grid-gap: 1.5rem;
         
        grid-template-columns: 1fr 1fr;
        grid-template-areas:"img-1 img-2"
                            "img-3 img-4"
                            "img-5 img-6"
                            "img-7 img-8"
                            "img-9 img-10";
        
                            
       padding: 0 20px;
       overflow: hidden;
       
    
    }

    .team .row {
        flex-direction: row;
    }
    .team .column {
        flex:1;
        margin:20px 2px;
       
    }
    
    .team img {
        width:100px;
        height: auto;
      }
    
    
    .team .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    .team .card-container {
        width:80%;
    }
    
    .team .card-container h2{
        font-size: 16px;
    }
    .team .card-container p{
    letter-spacing: 1px;
       text-indent: 0;
       width:100%;
    }
    
    
    .team .title {
      font-size: 14px;
      color: grey;
    }

    .contact .row{
        flex-direction: row;
        align-items: flex-start;
    }
    .contact .row .column{
        
        justify-content: center;
        min-width:50%;
       
    }
    .contact .row .column form{
        width:80%;
        height:auto;
        font-weight: 300;
        margin:10px auto;
    
    }
    .contact .row .column .contact-info{
        align-self: flex-start;
    }
    .buttonDiv{
        width:20%;
    }
}
/* desktop */
@media (min-width:992px) {
    .forGradient{
        flex-direction: row;
    }
    .nav-link{
        font-size: 42px;   
    }
    .landing-text h1{
        font-size: 60px;
    }
    .landing-text h6{
        font-size: 46px;
    }
    .about .container{
        display: flex;
        align-items: space-between;
        justify-content: space-between;
        flex-direction: column;
 
    }
    .about .about-details{
        display:flex;
        justify-content: center;
        align-items: flex-start;
    }
    .about .profile-img{
        display:block;
    }
    .picGallery{
        min-height: 300px;
    }
    .portfolio .profile-img{
        width:100%;
        height: 100%;
        display:grid;
       
        grid-template-rows: auto;
        
        grid-gap: 1.5rem;
         
        grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-template-areas:"img-1 img-2 img-3 img-4"
                        "img-5 img-6 img-7 img-8"
                        ". img-9 img-10 ."
                        ; 
        
                            
       padding: 0 20px;
       overflow: hidden;
       
    
    }

    .team .row {
        flex-direction: row;
    }
    .team .column {
        flex:1;
        margin:20px 2px;
       
    }
    
    .team img {
        width:200px;
        height: 200px;
      }
    
    
    .team .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    .team .card-container {
        width:80%;
    }
    
    .team .card-container h2{
        font-size: 28px;
    }
    .team .card-container p{
    letter-spacing: 2px;
       text-indent: 0;
       width:100%;
    }
    
    
    .team .title {
      font-size: 24px;
      color: grey;
    }

    .contact .row{
        flex-direction: row;
        align-items: flex-start;
    }
    .contact .row .column{
        
        justify-content: center;
        min-width:50%;
       
    }
    .contact .row .column form{
        width:80%;
        height:auto;
        font-weight: 300;
        margin:10px auto;
    
    }
    .contact .row .column .contact-info{
        align-self: flex-start;
    }
    .buttonDiv{
        width:20%;
    }
   
    .parallax, .parallax1, .parallax2{
        background-attachment: fixed;
    }

    .about .about-heading h1{
        font-size: 45px;
    }
    .about .about-heading h6{
        font-size:36px;
    }

    .portfolio .portfolio-heading h1{
        font-size: 45px;
    }
    .portfolio .portfolio-heading h6{
        font-size:36px;
    }

    .team .team-heading h1{
        font-size: 45px;
    }
    .team .team-heading h6{
        font-size:36px;
    }

    .contact .contact-heading h1{
        font-size: 45px;
    }
    .contact .contact-heading h6{
        font-size:36px;
    }
    .contact .row .column .contact-details img{
        max-width: 60px;
        margin-right: 10px;
        height:60px;
    
    }
}


/* large screen */
@media (min-width:1200px) {

}